.cv
    .first-page
        .side-banner
            .first-section
                h1=name
                h2=title
                p=email
                br
                a(href=website.link)=website.title
                br
                br
                a(href=github.link)=github.title
                br
                br
                a(href=linkedin.link)=linkedin.title
