.cv
    #first-page.page
        .top-banner
            h1=name
            h2=title
        .photo-img
            img(src="profile-square.png" alt="Profile Picture")
        .intro
            p=intro
        .side
            h3 Contact
            .icon-text
                i(id="email-icon" class="icon fas fa-envelope")
                a(class="text" href="mailto:" + email)=email
            .icon-text
                i(id="phone-icon" class="icon fas fa-phone-alt")
                a(class="text" href="tel:" + phone)=phone
            .icon-text
                i(id="skype-icon" class="icon fab fa-skype")
                a(class="text" href="skype:" + skype + "?userinfo")=skype
            .icon-text
                i(id="calendar-icon" class="icon fas fa-calendar-alt")
                span(class="text")=birthday
            .icon-text
                i(id="home-icon" class="icon fas fa-home")
                span(class="text") #{city}, #{country}
            .icon-text
                i(id="flag-icon" class="icon fas fa-flag")
                span(class="text") #{nationality[0]}, #{nationality[1]}
            .icon-text
                i(id="website-icon" class="icon fas fa-globe")
                a(class="text" href=website.link)=website.title
            .icon-text
                i(id="github-icon" class="icon fab fa-github")
                a(class="text" href=github.link)=github.title
            .icon-text
                i(id="linkedin-icon" class="icon fab fa-linkedin")
                a(class="text" href=linkedin.link)=linkedin.title

            br
            h3 Skills
            .icon-text
                i(id="vuejs-icon" class="icon fab fa-vuejs")
            .icon-text
                i(id="python-icon" class="icon fab fa-python")
            .icon-text
                i(id="python-icon" class="icon fab fa-js-square")

        .experience
            h3 Experience
            each job in fullTimeJobs
                p(class="title")=job.title
                p(class="time-period")=job.timePeriod
                a(href=job.company.link)=job.company.name
                br
                span=job.city
                span , 
                span=job.country
                p=job.details
                br
            each job in partTimeJobs
                p(class="title")=job.title
                p(class="time-period")=job.timePeriod
                a(href=job.company.link)=job.company.name
                br
                span=job.city
                span , 
                span=job.country
                p=job.details
                br
            
            h3 Education
            each edu in education
                p(class="title")=edu.degree
                p(class="time-period")=edu.timePeriod
                a(href=edu.school.link)=edu.school.name
                br
                span=edu.city
                span , 
                span=edu.country
                p=edu.details
                br