.cv
    #first-page.page
        .top-banner
            h1=name
            h2=title
        .photo
            img(src="profile-square.png" alt="Profile Picture")
        .intro
            p=intro
        .side
            h3 Contact
            p=email
            br
            a(href=website.link)=website.title
            br
            br
            i(class="fab fa-github")
            a(href=github.link)=github.title
            br
            br
            i(class="fab fa-linkedin")
            a(href=linkedin.link)=linkedin.title
        .experience
            h3 Education
            each edu in education
                p=edu.degree
                a(href=edu.school.link)=edu.school.name
